In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import  train_test_split
import seaborn as sb
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import export_graphviz

In [2]:
pd.set_option('display.max_rows', None)

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/Rogeriom49/4DTAT/main/techChallange2/datasets/Ibovespa14anos.csv', sep=",")
display(df.head(10))

         Data   Último  Abertura   Máxima   Mínima    Vol.    Var%
0  24.05.2024  124.306   124.731  125.257  124.259   9,21M  -0,34%
1  23.05.2024  124.729   125.650  125.665  124.431   9,99M  -0,73%
2  22.05.2024  125.650   127.412  127.412  125.524  12,40M  -1,38%
3  21.05.2024  127.412   127.754  128.272  127.205   9,14M  -0,27%
4  20.05.2024  127.751   128.151  128.730  127.488   9,34M  -0,31%
5  17.05.2024  128.151   128.280  128.464  127.696  10,26M  -0,10%
6  16.05.2024  128.284   128.029  128.965  127.922   9,86M   0,20%
7  15.05.2024  128.028   128.514  128.646  127.029  10,86M  -0,38%
8  14.05.2024  128.515   128.155  128.965  127.962  11,89M   0,28%
9  13.05.2024  128.155   127.600  128.669  127.599   8,92M   0,44%

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3566 entries, 0 to 3565
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      3566 non-null   object
 1   Último    3566 non-null   float64
 2   Abertura  3566 non-null   float64
 3   Máxima    3566 non-null   float64
 4   Mínima    3566 non-null   float64
 5   Vol.      3565 non-null   object
 6   Var%      3566 non-null   object
dtypes: float64(4), object(3)
memory usage: 195.1+ KB

In [5]:
df.rename(columns={'Vol.':'Vol','Var%':'Var'},inplace=True)

In [6]:
df.rename(columns={'Último.':'ultimo','Máxima':'maxima','Mínima':'minima','Vol':'vol','Var':'var'},inplace=True)

In [7]:
df.rename(columns={'Data':'data','Abertura':'abertura','Último':'ultimo'},inplace=True)

In [8]:
df.head()

         data   ultimo  abertura   maxima   minima     vol     var
0  24.05.2024  124.306   124.731  125.257  124.259   9,21M  -0,34%
1  23.05.2024  124.729   125.650  125.665  124.431   9,99M  -0,73%
2  22.05.2024  125.650   127.412  127.412  125.524  12,40M  -1,38%
3  21.05.2024  127.412   127.754  128.272  127.205   9,14M  -0,27%
4  20.05.2024  127.751   128.151  128.730  127.488   9,34M  -0,31%

In [9]:
df['data'] = pd.to_datetime(df['data'])

C:\Users\rpjun\AppData\Local\Temp\ipykernel_21360\338679594.py:1: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['data'] = pd.to_datetime(df['data'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3566 entries, 0 to 3565
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   data      3566 non-null   datetime64[ns]
 1   ultimo    3566 non-null   float64
 2   abertura  3566 non-null   float64
 3   maxima    3566 non-null   float64
 4   minima    3566 non-null   float64
 5   vol       3565 non-null   object
 6   var       3566 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 195.1+ KB

In [11]:
df['dia'] = df['data'].dt.day
df['mes'] = df['data'].dt.month
df['ano'] = df['data'].dt.year

In [12]:
display(df.head())
display(df.info())

,data,ultimo,abertura,maxima,minima,vol,var,dia,mes,ano
0,2024-05-24,124.306,124.731,125.257,124.259,"9,21M","-0,34%",24,5,2024
1,2024-05-23,124.729,125.650,125.665,124.431,"9,99M","-0,73%",23,5,2024
2,2024-05-22,125.650,127.412,127.412,125.524,"12,40M","-1,38%",22,5,2024
3,2024-05-21,127.412,127.754,128.272,127.205,"9,14M","-0,27%",21,5,2024
4,2024-05-20,127.751,128.151,128.730,127.488,"9,34M","-0,31%",20,5,2024

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3566 entries, 0 to 3565
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   data      3566 non-null   datetime64[ns]
 1   ultimo    3566 non-null   float64
 2   abertura  3566 non-null   float64
 3   maxima    3566 non-null   float64
 4   minima    3566 non-null   float64
 5   vol       3565 non-null   object
 6   var       3566 non-null   object
 7   dia       3566 non-null   int32
 8   mes       3566 non-null   int32
 9   ano       3566 non-null   int32
dtypes: datetime64[ns](1), float64(4), int32(3), object(2)
memory usage: 236.9+ KB

None

Vol (Volume) é em milhões
Var (variação) é em porcentagem

In [13]:
df['vol'] = df['vol'].str.replace('M','',regex=False)

In [14]:
df['var'] = df['var'].str.replace('%','',regex=False)

In [15]:
df['vol'] = df['vol'].str.replace(',','.',regex=False)
df['var'] = df['var'].str.replace(',','.',regex=False)

In [16]:
df['vol'] = df['vol'].str.replace('K','',regex=False)

In [17]:
df['vol'].fillna('0',inplace=True)

C:\Users\rpjun\AppData\Local\Temp\ipykernel_21360\1881197955.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['vol'].fillna('0',inplace=True)

In [18]:
df['vol'] = df.vol.astype(float)
df['var'] = df['var'].astype(float)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3566 entries, 0 to 3565
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   data      3566 non-null   datetime64[ns]
 1   ultimo    3566 non-null   float64
 2   abertura  3566 non-null   float64
 3   maxima    3566 non-null   float64
 4   minima    3566 non-null   float64
 5   vol       3566 non-null   float64
 6   var       3566 non-null   float64
 7   dia       3566 non-null   int32
 8   mes       3566 non-null   int32
 9   ano       3566 non-null   int32
dtypes: datetime64[ns](1), float64(6), int32(3)
memory usage: 236.9 KB

In [20]:
df.head()

        data   ultimo  abertura   maxima   minima    vol   var  dia  mes   ano
0 2024-05-24  124.306   124.731  125.257  124.259   9.21 -0.34   24    5  2024
1 2024-05-23  124.729   125.650  125.665  124.431   9.99 -0.73   23    5  2024
2 2024-05-22  125.650   127.412  127.412  125.524  12.40 -1.38   22    5  2024
3 2024-05-21  127.412   127.754  128.272  127.205   9.14 -0.27   21    5  2024
4 2024-05-20  127.751   128.151  128.730  127.488   9.34 -0.31   20    5  2024

In [21]:
df_new = df.copy()

In [22]:
df_new.head()

        data   ultimo  abertura   maxima   minima    vol   var  dia  mes   ano
0 2024-05-24  124.306   124.731  125.257  124.259   9.21 -0.34   24    5  2024
1 2024-05-23  124.729   125.650  125.665  124.431   9.99 -0.73   23    5  2024
2 2024-05-22  125.650   127.412  127.412  125.524  12.40 -1.38   22    5  2024
3 2024-05-21  127.412   127.754  128.272  127.205   9.14 -0.27   21    5  2024
4 2024-05-20  127.751   128.151  128.730  127.488   9.34 -0.31   20    5  2024

Cálculo de variação (feature var)
var = ((ultimo - abertura) / abertura) * 100

In [23]:
df_new['var_valor'] = df_new['var'] * 100

In [24]:
df_new.head()

,data,ultimo,abertura,maxima,minima,vol,var,dia,mes,ano,var_valor
0,2024-05-24,124.306,124.731,125.257,124.259,9.21,-0.34,24,5,2024,-34.0
1,2024-05-23,124.729,125.650,125.665,124.431,9.99,-0.73,23,5,2024,-73.0
2,2024-05-22,125.650,127.412,127.412,125.524,12.40,-1.38,22,5,2024,-138.0
3,2024-05-21,127.412,127.754,128.272,127.205,9.14,-0.27,21,5,2024,-27.0
4,2024-05-20,127.751,128.151,128.730,127.488,9.34,-0.31,20,5,2024,-31.0

In [25]:
df_new.shape

(3566, 11)

In [26]:
corr = df_new.corr()
corr.style.background_gradient(cmap='Blues')

# Rede neural

In [27]:
x = df_new.drop(columns=['data','ultimo'])
y = df_new['ultimo']
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.70, random_state=101)
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

In [28]:
display(x_test.shape)
display(y_test.shape)

(1070, 9)

(1070,)

In [29]:
nn = MLPRegressor(hidden_layer_sizes=(50, 50))
nn.fit(x_train, y_train)

MLPRegressor(hidden_layer_sizes=(50, 50))

In [30]:
nn_preds = nn.predict(x_test)

In [31]:
nn_mae = mean_absolute_error(y_test, nn_preds)
nn_mse = mean_squared_error(y_test, nn_preds)
nn_r2 = r2_score(y_test, nn_preds)

display(nn_mae)
display(nn_mse)
display(nn_r2)

0.4288508421396405

0.7792992893672034

0.9988395800226514