In [2]:
import pandas as pd
import warnings
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import adfuller
import plotly.express as px
warnings.filterwarnings("ignore")

In [3]:
# pd.options.display.float_format = '{:.2f}'.format

In [4]:
cUrl = 'http://www.ipeadata.gov.br/ExibeSerie.aspx?module=m&serid=1650971490&oper=view'

In [5]:
df = pd.read_html(cUrl, parse_dates=True, header=0, thousands=',', decimal='.')

In [6]:
df[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11278 entries, 0 to 11277
Data columns (total 2 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Data                                    11278 non-null  object
 1   PreÃ§o - petrÃ³leo bruto - Brent (FOB)  11278 non-null  int64
dtypes: int64(1), object(1)
memory usage: 176.3+ KB

In [7]:
df[2].head()

         Data  PreÃ§o - petrÃ³leo bruto - Brent (FOB)
0  15/10/2024                                    7368
1  12/10/2024                                    7847
2  11/10/2024                                    8027
3  10/10/2024                                    7945
4  09/10/2024                                    7706

In [8]:
df[2].rename(columns={'Data': 'data', 'PreÃ§o - petrÃ³leo bruto - Brent (FOB)': 'preco'}, inplace=True)

In [9]:
df[2].head().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    5 non-null      object
 1   preco   5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [10]:
df[2].sort_values(by='preco')

            data  preco
8340  10/12/1998    910
1141  21/04/2020    912
8339  11/12/1998    926
8333  21/12/1998    945
8338  14/12/1998    945
...          ...    ...
5237  02/07/2008  14124
5221  18/07/2008  14243
5224  15/07/2008  14368
5236  03/07/2008  14395
5232  07/07/2008  14395

[11278 rows x 2 columns]

In [11]:
df[2].sort_values(by='preco', ascending=False).head()

            data  preco
5232  07/07/2008  14395
5236  03/07/2008  14395
5224  15/07/2008  14368
5221  18/07/2008  14243
5237  02/07/2008  14124

In [12]:
df[2].describe()

              preco
count  11278.000000
mean    5328.660755
std     3317.741398
min      910.000000
25%     2060.000000
50%     4883.000000
75%     7685.750000
max    14395.000000

In [13]:
df[2].min()

data     01/01/2005
preco           910
dtype: object