In [119]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [120]:
pd.options.display.float_format = '{:.2f}'.format

In [121]:
cUrl = 'http://www.ipeadata.gov.br/ExibeSerie.aspx?module=m&serid=1650971490&oper=view'

In [122]:
df = pd.read_html(cUrl, parse_dates=True, header=0, thousands=',', decimal='.')

In [123]:
df[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11267 entries, 0 to 11266
Data columns (total 2 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Data                                    11267 non-null  object
 1   PreÃ§o - petrÃ³leo bruto - Brent (FOB)  11267 non-null  int64
dtypes: int64(1), object(1)
memory usage: 176.2+ KB

In [124]:
df[2].head()

         Data  PreÃ§o - petrÃ³leo bruto - Brent (FOB)
0  30/09/2024                                    7235
1  27/09/2024                                    7163
2  26/09/2024                                    7306
3  25/09/2024                                    7540
4  24/09/2024                                    7529

In [125]:
df[2].rename(columns={'Data': 'data', 'PreÃ§o - petrÃ³leo bruto - Brent (FOB)': 'preco'}, inplace=True)

In [126]:
df[2].head().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    5 non-null      object
 1   preco   5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [127]:
df[2].data = pd.to_datetime(df[2].data)

In [128]:
df[2].head()

        data  preco
0 2024-09-30   7235
1 2024-09-27   7163
2 2024-09-26   7306
3 2024-09-25   7540
4 2024-09-24   7529

In [129]:
df[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11267 entries, 0 to 11266
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    11267 non-null  datetime64[ns]
 1   preco   11267 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 176.2 KB

In [132]:
df[2].preco = df[2].preco.astype(str)

In [134]:
df[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11267 entries, 0 to 11266
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    11267 non-null  datetime64[ns]
 1   preco   11267 non-null  object
dtypes: datetime64[ns](1), object(1)
memory usage: 176.2+ KB

In [140]:
def fAddDecimal(x):
    return x[:-2] + '.' + x[-2:]

In [141]:
df[2]['preco_decimal'] = df[2].preco.apply(fAddDecimal)

In [142]:
df[2].head()

        data preco preco_decimal
0 2024-09-30  7235         72.35
1 2024-09-27  7163         71.63
2 2024-09-26  7306         73.06
3 2024-09-25  7540         75.40
4 2024-09-24  7529         75.29

In [143]:
df[2].preco_decimal = df[2].preco_decimal.astype(float)

In [148]:
df[2].drop(columns='preco', inplace=True)

In [149]:
df[2].head()

        data  preco_decimal
0 2024-09-30          72.35
1 2024-09-27          71.63
2 2024-09-26          73.06
3 2024-09-25          75.40
4 2024-09-24          75.29

In [150]:
df[2].rename(columns={'preco_decimal': 'preco'}, inplace=True)

In [151]:
df[2].head()

        data  preco
0 2024-09-30  72.35
1 2024-09-27  71.63
2 2024-09-26  73.06
3 2024-09-25  75.40
4 2024-09-24  75.29

In [152]:
df[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11267 entries, 0 to 11266
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    11267 non-null  datetime64[ns]
 1   preco   11267 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 176.2 KB

In [155]:
df[2].to_csv('datasets/dados_puros.csv', index=False)

In [156]:
df_new = df[2].copy()

In [157]:
df_new['ano'] = df_new['data'].dt.year
df_new['mes'] = df_new['data'].dt.month

In [158]:
df_new.head()

        data  preco   ano  mes
0 2024-09-30  72.35  2024    9
1 2024-09-27  71.63  2024    9
2 2024-09-26  73.06  2024    9
3 2024-09-25  75.40  2024    9
4 2024-09-24  75.29  2024    9

In [159]:
df_new.to_csv('datasets/dados_mes_ano.csv', index=False)